<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Regression Suite" parallel="false">
    <listeners>
        <listener class-name="com.imran.automation.listeners.TestListener"/>
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="com.imran.automation.tests.auth.LoginTest"/>
        </classes>
    </test>
    <test name="PIM Tests">
        <classes>
            <class name="com.imran.automation.tests.pim.PimTest"/>
        </classes>
    </test>
</suite>
